$primary-color: #000;
$secondary-color: #FFF;
$text-color: #474747;
$bgc-first: #F3F7EA;
$footer-color: #262626;
$title-font: 40px;
$base-font: 30px;
$text-font: 25px;
$button-font: 20px;
$small-font: 18px;